.App {
  text-align: center;
  margin: 100px auto;
  border: 2px solid lightblue;
  border-radius: 5px;
  height:425px;
  width:425px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tile{
  height:100px;
  width:100px;
  border: 2px solid lightblue;
  background:lightblue;
  border-radius: 5px;
  margin: 1em;
  display: inline-block;
}
